.cm-content
    background-color: #ffffff
.cm-bordered
    border: 1px solid rgba(0, 0, 0, 0.125)
    border-radius: .25rem
.cm-no-border
    border: none
.cm-hidden-text
    color: #ffffff

    .custom-control-input:disabled ~ .custom-control-label
        color: #ffffff

.cm-container.wrapper
    padding: 50px 0
    background-color: #f8f9f9