.register
    .form-wrapper
        padding: 25px
        margin-bottom: 50px

        .switch-wrapper
            margin-bottom: 15px

        .register-prop-wrapper
            height: fit-content
            padding: 25px

            .card-body
                padding: 0